
.event-primary h2 {margin-top:10px}

.nopadding {
        padding: 0 !important
    }
    time {
        display: inline-block;
        width: 100%;
        color: rgb(255, 255, 255);
        
        padding: 5px;
        text-align: center;
        text-transform: uppercase;
    }

time.pink {
    background-color: rgb(197, 44, 102);
}
    time.purple {
        background-color: rgb(165, 82, 167)
    }
    
    time.dkblue
    {
        background-color: #336699;
}

time.blue_green { background-color: #148aa5 }
    time.blue_violet { background-color: #3714a4}
    time.brown { background-color: #964B00}
    time.crimson { background-color: #a50516}
    time.deep_pink { background-color: #fb3c8f}
    time.forest_green { background-color: #1b4f15}
    time.fuchsia { background-color: #a51497}
    time.gray { background-color: #686868}
    time.green { background-color: #3aa03a}
    time.hotpink { background-color: #ff0080}
    time.lemon { background-color: #fee233}
    time.ligh_blue { background-color: #8bbdeb}
    time.light_red { background-color: #fc6a6c}
    time.lime { background-color: #c1fd33}
    time.lime_green { background-color: #2bfd2f}
    time.magenta { background-color: #fc1cad}
    time.maroon { background-color: #7f2b14}
    time.midnight { background-color: #000066}
    time.olive { background-color: #2b4726}
    time.orange { background-color: #fd7222}
    time.orange_red { background-color: #fc331c}
    time.orange_yellow { background-color: #ffcc00}
    time.peach { background-color: #FFE5B4}
    time.pink { background-color: #fc5ab8}
    time.purple { background-color: #af31f2}
    time.red { background-color: #fc0d1b}
    time.red_orange { background-color: #d7462c }
    time.salmon { background-color: #f69e94}
    time.tan { background-color: #f2ddbf}
    time.teal { background-color: #2b8a6d}
    time.violet { background-color: #6b28ce}
    time.violet_blue { background-color: #6041fa}
    time.white { background-color: #ffffff}
    time.yellow { background-color: #feee35}
    time.yellow_green { background-color: #defd35}
    time.yellow_orange { background-color: #fec42e}

    .time {
        background-color: rgb(165, 82, 167);
    }

    /*time > span {*/
        /*display: none;*/
    /*}*/

    time > .day {
        display: block;
        font-size: 4em;
        font-weight: 100;
        line-height: 1;
    }

    time > .month {
        display: block;
        font-size: 22pt;
        font-weight: 900;
        line-height: 1;
    }
    .nopadding {padding:0 !important;margin:0!important;}
    .panel-primary > .panel-footer {
        color: #fff!important ;
        background-color: #337ab7;
        border-color: #337ab7;
    }
    .panel-primary > .panel-footer p,.panel-primary a {color:#FFF}
.event-primary img {width: 341px; height: 199px;}


.error{
        color: red;
        font-size: 12px;
    }
.skin-black-light .sidebar-menu > li > a {
    color: #A0ABC1;
    border-bottom: none;
    text-transform: uppercase;
    border-left: 4px solid #353F51;
    font-size: 15px;
    font-weight: bold;
}
/*.sidebar-menu > li > a > .fa, .sidebar-menu > li > a > .glyphicon, .sidebar-menu > li > a > .ion{*/
    /*color: #23527c;*/
   /**/
/*}*/
.skin-black-light .treeview-menu > li > a {border-bottom: 1px solid #f0f0f0;}

.skin-black-light .main-header > .navbar > .sidebar-toggle {
    background: #fff;
    border-right: 1px solid #eee;
    color: #000;
}

.skin-black-light .sidebar-menu > li.header {
    background: #353F53;
    color: #66738F;
    font-size: 15px;
    font-weight: bold;
    padding-left: 19px;
    padding-top: 20px;
}


.skin-black-light .wrapper, .skin-black-light .main-sidebar, .skin-black-light .left-side
{
    background:#353F51;
}
.skin-black-light .sidebar-menu > li > a {
    color: #A0ABC1; border-bottom: none; text-transform: uppercase; border-left:4px solid #353F51;
    font-size: 15px;
    font-weight: bold;

}
.skin-black-light .sidebar-menu > li:hover > a, .skin-black-light .sidebar-menu > li.active > a {
    background: #2F3949; border-left:4px solid #53A9DF;
    color: #FFF;
    font-size: 15px;
    font-weight: bold;

}

.sidebar-menu > li > a > .fa {color:#A0ABBF; }


/*CSS sub nav*/
.skin-black-light .sidebar-menu > li > .treeview-menu {background:#353F53;}
.skin-black-light .treeview-menu > li > a {color: #A0ABC1; border-bottom: none; text-transform: uppercase; border-left:4px solid #353F51; font-weight: bold;
    font-size: 15px
}
.skin-black-light .treeview-menu > li:hover > a, .skin-black-light .treeview-menu > li.active > a {
    background: #2F3949; color:#FFF; font-size: 15px;
    font-weight: bold;
}

/*CSS header*/
.skin-black-light .content-header {padding: 30px 15px 30px 25px; background: #fff; border-bottom: 1px solid #eee }
.content-wrapper, .right-side { background: #EBF1F5;}
/*CSS FOR MOBILE*/
@media only screen and (max-width: 600px) {
    .skin-black-light .main-header > .logo {border-bottom: 1px solid #eee; background: #fff;}
    .skin-black-light .main-header > .logo:hover {border-bottom: 1px solid #eee; background: #fff;}

}
/*CSS FOR MOBILE*/


/* update profile css */
.thumbnail{
        margin-bottom: 0px;
    }
    .padd{
        padding: 30px;
    }
    
    .box{
        border-top: none;
    }
    .box-header{
        background: #F5F9FD;
    }
    
    .box-header>.fa, .box-header>.glyphicon, .box-header>.ion, .box-header .box-title{
        line-height: 40px;
        margin-left: 10px;
        color: #8a95a7;
        font-size: 18px;
        font-weight: bold;

    }
    
    .title-icon{
        float: right;
        padding-left: 12px;
        padding-right: 12px;
        border: 1px solid #e0e2e4;
        border-radius: 3px;
        margin-right: 20px !important;
    }
    
    
    
    .thumbnail a>img, .thumbnail>img{
        max-height: 112px;
        width: 200px;
    }
    
    .input-profile{
        margin-bottom: -18px;
    }
    
    .form-control{
        border-radius: 4px !important;
        border: 1px solid;
        border-color: #D1D8DF;
        outline:none;
        padding: 6px 12px;
        height: 40px;
        font-size: 18px;
        font-weight: 300;

    }
    
    .box.box-primary{
        box-shadow: 0px 0px 1px #959595;
    }
    
    .rite{
        float: right;
    }
/* update profile css */


.info-box-dash span img{ padding-left: 20px; padding-top: 20px;}
.info-box-dash .info-box-content{ padding: 7px 9px;
    margin-left: 131px;
}
.info-box-dash {min-height: 135px;}
.info-box-dash h2{margin-top: 12px;
    margin-bottom: 0px;
}

.gap {border:1px solid #2F3949; border-width:2px 0 0; margin-bottom:30px; }

.gap2 {border:1px solid #2F3949; border-width:2px 0 0; margin-top:30px; }

.main-header .navbar .nav > li > a > .label {font-size:11px; top:5px;}

.amount {font-weight: bolder; font-size: 19px;}
.bg-fund{background-color: #5ABF8C; color: #fff;}


#personal_information,
#company_information{
    display:none;
}












.stepwizard-step p {
    margin-top: 10px;
}

.stepwizard-row {
    display: table-row;
}

.stepwizard {
    display: table;
    width: 100%;
    position: relative;
}

.stepwizard-step button[disabled] {
    opacity: 1 !important;
    filter: alpha(opacity=100) !important;
}

.stepwizard-row:before {
    top: 14px;
    bottom: 0;
    position: absolute;
    content: " ";
    width: 100%;
    height: 1px;
    background-color: #ccc;
    z-order: 0;

}

.stepwizard-step {
    display: table-cell;
    text-align: center;
    position: relative;
}

.btn-circle {
    width: 30px;
    height: 30px;
    text-align: center;
    padding: 6px 0;
    font-size: 12px;
    line-height: 1.428571429;
    border-radius: 15px;
}

.content-header > h1 {
    font-size: 30px;
    font-weight: 300;
}

/*.content {*/
    /*padding-left: 25px;*/
/*}*/

.box {
    border-radius: 4px;
}

.box-header{
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}

.box-body{
    padding: 15px;
}

.box-default{
    box-shadow: 0 0 1px 1px #EFEFEF;
    border-top: 1px solid rgba(0,0,0,0);
    border-top-color : rgba(0,0,0,0);
}

#no-more-tables {padding-top:20px; padding-left: 2px; padding-right: 2px;}

.modal-content{
    border-radius: 6px;
    background-color: #ebf1f5;

}

.modal-header{
    background-color: #F5F9FD;
    color: #8A95A7;
    padding: 14px 22px;
    border-radius: 6px 6px 0px 0px;
    border-bottom: 1px solid #e5e5e5;
}

.modal-title {
    font-size: 23px;
    font-weight: 300;
}

.btn-danger {
    background-color: #FF6c60;
    border-color: #FF6c60;
}

.btn-danger:hover, .btn-danger:active, .btn-danger.hover {
    background-color: #ec6459;
    border-color: #ec6459;
}

.btn-success{
    background-color: #83D19F;
    border-color: #5ABF8C;
}

.btn-success:hover, .btn-success:active, .btn-success.hover {
    background-color: #5ABF8C;
    border-color: #6dbb4a;
}

label {
    font-weight: 400;
    color: #000;
    font-size: 17px;
}

.no-left-padding{
    padding-left: 0px;
}

.no-right-padding{
    padding-right: 0px;
}

.content-header > div > h1 {
    font-size: 30px;
    font-weight: 300;
    margin: 0px;
}

#loadingState{
    display: none;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    z-index: 10000;
    background: rgba(232, 239, 235, 0.29);
    width: 100%;
    height: 100%;
}

.loader{
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}

.carousel-inner > .item > a > img, .carousel-inner > .item > img, .img-responsive, .thumbnail a > img, .thumbnail > img{
    height: 35px;
    margin:9px auto;
}

@media only screen and (max-width: 600px) {
    .skin-black-light .main-header .navbar-brand{
        height: 80px;
    }
    .skin-black-light .content-header{
        margin-top: 30px;
    }
    .carousel-inner > .item > a > img, .carousel-inner > .item > img, .img-responsive, .thumbnail a > img, .thumbnail > img{
        height: 50px;
        margin: 14px auto;
    }

    .sidebar{
        margin-top: 30px;
        padding-bottom: 10px;
    }


}

@media only screen and (max-width: 700px) {
    .skin-black-light .main-header .logo{
        background-color: #fff !important;
    }
    .skin-black-light .main-header > .navbar{
        border-bottom: 1px solid #353F53;
    }
    .skin-black-light .main-header > .navbar{border-top: 1px solid #353F53}
    .main-header{min-height: 101px;}
    .skin-black-light .main-header > .navbar .navbar-custom-menu .navbar-nav > li > a, .skin-black-light .main-header > .navbar .navbar-right > li > a {border-left: 1px solid #353F53;}
    .skin-black-light .main-header > .navbar > .sidebar-toggle {
        border-right: 1px solid #353F53;
        color: #000;
    }

    .main-header .sidebar-toggle {padding: 3px 19px;}
    .main-header .sidebar-toggle::before {font-size: 31px;}


}






.main-footer {border-top: none;}
.skin-black-light .content-wrapper, .skin-black-light .main-footer {border-left: none;}

.btn-cust{
    width: 100%;
    text-align: left;
}

@media only screen and (max-width: 320px) {
    .img-size{
       width: 250px;
        height: 260px;
    }
}

@media only screen and (max-width: 320px) {
    .img-size-product{
        width: 270px;
        height: 250px;
    }
}

.professionView label h4{
    text-transform: capitalize;
}

@media only screen and (max-width: 600px) {
    .img-product-layout{
        width: 100%;
        height: 200px;
        margin-bottom: 15px;
    }

}

.blog-image{
    width: 310px;
    height: 200px;
}

@media only screen and (max-width: 320px) {
    .blog-image{
        width: 270px;
        height: 200px;
    }
}

.group-image{
    width: 310px;
    height: 215px;
}

@media only screen and (max-width: 320px) {
    .group-image{
        width: 275px;
        height: 215px;
    }
}

