/*
    custom CSS for TRP
*/
.navbar-inverse .avatar{
    width: 40px;
    height:40px;
}
div .same{
    padding-left:193px;
} 

div .tab_left{
    padding-bottom: 30px;
}

div.button_control{
    padding-left: 30px;
    padding-right: 30px;
    margin-left: 30px;
    margin-right: 30px;
}
#inner-container{
	background:#ebf1f5;	
}
.navbar.navbar-inverse{
	background:#fff;	
	border-bottom:1px solid #F1F2F7
}
.dropdown-menu > li > a:hover{
	background:#182F49;
}
#primary-nav li a, #primary-nav li a:visited, #primary-nav li a:focus{
	background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
    border-left: 5px solid #353F54;
    color: #A0ABC1;
    font-size: 13px;
    font-weight: bold;
    margin: 1px 0 0;
    outline: medium none;
    padding: 10px 10px 8px 40px;
    text-decoration: none;
    text-transform: uppercase;
}
#primary-nav li > ul a{
	background:#353f54;		
}
#primary-nav li a.active{
	border-left:none;
	padding-left:40px;	
}
#primary-nav li a:hover, #primary-nav li a.active{
	background:#2F394A;/*#0097CF;*/
	color:#FFF;	
	border-left : 5px solid #0097CF;
}
#primary-nav li a:hover i, #primary-nav li a.active i{
	color:#FFF;	
}
#primary-nav li a i{
	color: #A0ABC1;
}
#primary-nav li i{
	font-size:17px;	
}
#primary-nav ul{
	padding-top:0px;	
}
#primary-nav li ul li a {
    display: block;
    line-height: 24px;
    padding: 9px 10px 6px 40px;
}
#primary-nav li ul li a:visited, #primary-nav li ul li a:focus {
    padding: 9px 10px 6px 40px;
    margin:0px;
    display: block;
    
}
#primary-nav li > ul a{
    font-size: 12px;
}
/* settings page */
ul.left{
    float:left;
}
ul.right{
    float:right;
}
ul.static{
    list-style:none;
    font-size:14px;
}
ul.left li:first-child{
   font-size: 20px;
}
ul.left li:nth-child(2n){
   padding-bottom: 20px;
}
.table>thead>tr>th.headcolor, .table>tbody>tr>th.headcolor, .table>tfoot>tr>th.headcolor, .table>thead>tr>th.headcolor, .table>tbody>tr>th.headcolor, .table>tfoot>tr>th.headcolor, .table>thead>tr.headcolor>th, .table>tbody>tr.headcolor>th, .table>tfoot>tr.headcolor>th, .table>thead>tr.headcolor>th, .table>tbody>tr.headcolor>th, .table>tfoot>tr.headcolor>th {
    background-color: #F6F6F6;
    font-weight: normal;
}
.circle_default > li{
    background-color:#D9EDF7;
    border: 1px solid white;
    border-radius: 45px;
    color: #777777;
    display: block;
    font-size: 32px;
    height: 87px;
    line-height: 32px;
    margin: 0 0 5px;
    padding: 27px 20px 13px;
    position: relative;
    text-align: center;
    width: 87px;
}

/* end settings page */

/* customize tabs */
.nav-tabs{
	/*border-bottom:2px solid #D1D8DF;*/		
}
.nav-tabs > li{
	margin-bottom:0;	
}

.nav-tabs > li > a, .nav-tabs > li > a:visited, .nav-tabs > li > a:focus{
	outline:none;	
}
.nav-tabs > li > a{
	color:#667FA0;
	border:none;
	/*border-left:1px dotted #666;*/
	width:100%;
	text-align:center;
	padding:0px;
    /*margin-right:-1px;*/
	text-transform:uppercase;
	font-weight: bold;
	margin:10px 20px;
	display: inline;
	font-size:13px;
}
.tab-content .nav-tabs > li > a{
	font-size:13px;	
	width:110px;
}
.nav-tabs > li > a:hover{
	background:none;
	/*border-left:1px dotted #666;*/
}
.nav-tabs > li:first-child > a{
	border-left:none !important;
	margin-left:0px;
	
}
.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus{
	border:none;
	/*border-left:1px dotted #666;*/
	border-bottom:4px solid #59A9E5;
	outline:none;
	font-weight:700;
	background:none;
	padding-bottom:13px;
	font-size:13px;
	
}
#primary-nav ul{
	margin-top:-1px;	
}
/* top menu */
.navbar-nav-custom > li > a{
	
}
.navbar-nav-custom > li:last-child > a{
    text-align: right;
    padding-right: 84px;
    width: 266px;
    padding-left: 35px;
}
header.navbar, .navbar .divider-vertical{
	height:58px;		
}
.navbar-nav-custom > li > a{
	padding:15px;	
}

.navbar-nav-custom > li > a > .badge{
   border: 2px solid #FFFFFF;
    font-weight: 300;
    line-height: 17px;
    padding: 0 5px;
    position: absolute;
    right: 2px;
    top: 7px;
}

header.navbar .navbar-brand{
	padding-top:8px;
	height:55px;	
}
h3, .h3{
	font-size:22px;	
}
#page-content > h3{
	margin-top:0;
	margin-bottom:20px;	
	padding:30px 25px 0px 25px;
}
#sidebar-search input[type="text"]{
	height:50px;
	padding-right:0px;	
	background:#25313F;
	color:#EEE;
}
#sidebar-search input[type="text"]:focus{
	background:#EEE;
	color:#25313F;
}
#sidebar-search button{
	height:46px;	
	width:40px;
	background:#25313F;
}
#sidebar-search .input-group{
	background:#25313F;	
	color:#EEE;
}

/*search button */

.cf:before, .cf:after{
    content:"";
    display:table;
}
.cf:after{
    clear:both;
}
 
.cf{
    zoom:1;
	margin-right:10px;
}     
.form-wrapper input {
    padding:5px;
    float: left;    
    border: 0;
    /*background: #eee;*/    
	margin-top:9px; 
}
.form-wrapper input:focus {
    outline: 0;
    background: #fff;
    box-shadow: 0 0 2px rgba(0,0,0,.8) inset;
}
.form-wrapper input::-webkit-input-placeholder {
   color: #999;
   font-weight: normal;
   font-style: italic;
}
.form-wrapper input:-moz-placeholder {
    color: #999;
    font-weight: normal;
    font-style: italic;
}
.form-wrapper input:-ms-input-placeholder {
    color: #999;
    font-weight: normal;
    font-style: italic;
}    

.form-wrapper button {
    overflow: visible;
    position: relative;
    float: left;
    border: 0;
    padding: 0;
    cursor: pointer;
    height: 29px;
    width: 36px;
    font: bold 15px/40px 'lucida sans', 'trebuchet MS', 'Tahoma';
    color: #999;
    text-transform: uppercase;
    background: none; /*#324764;*/  
    /*text-shadow: 0 -1px 0 rgba(0, 0 ,0, .3);*/
	margin-top:9px;
}   
.form-wrapper button .icon-search{
	float:left;
	margin-top:2px;
	margin-left:11px;
} 
   
.form-wrapper button:active,
.form-wrapper button:focus,.form-wrapper button:hover{   
    background: none; /*#228EC2;*/
    outline: 0;   
}
/*.form-wrapper button:before { 
    content: '';
    position: absolute;
    border-width: 8px 8px 8px 0;
    border-style: solid solid solid none;
    border-color: transparent #324764 transparent;
    top: 8px;
    left: -6px;
}*/
.form-wrapper button:hover:before,
.form-wrapper button:focus:before,
.form-wrapper button:active:before{
        border-right-color: #fff; /*#228EC2;*/
}      
.form-wrapper button::-moz-focus-inner {
    border: 0;
    padding: 0;
}    
/*end search button */
#page-content{
	margin-left:185px;	
}
#page-sidebar{
	margin-top: -65px;
    width: 185px;
    z-index: 1000;	
}
.button_group{
    border-bottom: none !important ;
    border-top: none !important;
}
.div_group{
    border:1px solid #DDDDDD !important;
}
.same{
    padding-left: 296px !important;
}
/*custom file upload*/
.choose_file{
    position:relative;
    display:inline-block;    
    /*width:250px; 
    padding: 4px 100px 4px 13px;*/
    font: normal 14px Myriad Pro, Verdana, Geneva, sans-serif;
    color: #7f7f7f;
    margin-top: 2px;
}
.choose_file input[type="file"]{
    -webkit-appearance:none; 
    position:absolute;
    top:0; left:0;
    opacity:0; 
}
/*end file upload */
#signature_show img{
	max-height:100%;	
}
/*custom tab loans bank */
.tab_loans >li > a{
    color:black;
}
.tab_loans > li.active > a, .tab_loans > li.active > a:hover, .tab_loans > li.active > a:focus {
    background-color: #0097CF;
}
/*end tab loans */
/*meesage */
ul#message > li{
    list-style-type: none;
    padding: 5px;
}
.icon_point{
    padding-right: 10px;
}
/*end message */
.custom_table{
    border:none;
}
/*modal custom */
.resize_modal{
    width:1054px;
}

/*end modal custom */


.nav {
    list-style: none outside none;
    margin-bottom: 0;
    padding-left: 25px;
	padding-bottom : 10px;
}

.row {
    margin-left: 0px;
    margin-right: 0px;
}

header.navbar .leftmarg{margin-left:198px;}

.navbar {
    border-radius: 0px;
}

.menu_divider{
	background-image: url("../img/menu_divider.png");
	background-repeat: no-repeat;
	background-position: top;
}

.pull-right > .dropdown-menu {
    left: auto;
    right: 10px;
}

.dropdown-menu > li > a {
    color: #7B8595;
}

.divider_top{
	border-right:1px solid #E5E7EA; height: 57px; margin: 0 25px 0 35px;
}

.gemicon-medium-custome-calculator {
    background-position: 0px -481px;
}

.gemicon-medium-custome-rec-bubble2 {
    background-position: -22px -481px;
}

.gemicon-small-dollar {
    background-position: -46px -242px;
}

.gemicon-small-package {
    background-position: 0px -242px;
}

.gemicon-small-star {
    background-position: -22px -242px;
}

.gemicon-small-dollar_price {
    background-position: -67px -242px;
}

.gemicon-small-file {
    background-position: -87px -243px;
}
/*
[class^="gemicon-small-custome"], [class*=" gemicon-small-custome"] {
    background-image: url("../img/gemicon.icons/grey_16x16.png");
    background-repeat: no-repeat;
    display: inline-block !important;
    height: 25px !important;
    line-height: 16px;
    margin-top: 1px;
    vertical-align: text-top;
    width: 20px !important;
}
*/

[class^="gemicon-medium-custome"], [class*=" gemicon-medium-custome"] {
    background-image: url("../img/gemicon.icons/grey_32x32.png");
    background-repeat: no-repeat;
    display: inline-block !important;
    height: 25px !important;
    line-height: 16px;
    margin-top: 1px;
    vertical-align: text-top;
    width: 20px !important;
}

[class^="gemicon-medium-custome-white"], [class*=" gemicon-medium-custome-white"] {
    background-image: url("../img/gemicon.icons/grey_32x32.png");
    background-repeat: no-repeat;
    display: inline-block !important;
    height: 36px !important;
    line-height: 36px;
    margin-top: 1px;
    vertical-align: text-top;
    width: 36px !important;
}

.gemicon-medium-custome-white-applications {
    background-position: 0px -482px;
}

.gemicon-medium-custome-white-pending-application {
    background-position: -33px -482px;
}

.gemicon-medium-custome-white-print {
    background-position: -68px -482px;
}

.copyright{
	padding:0px;
}

.copyright a {
	color: #606D88;
	font-weight: 300;
	font-size:12px;
	text-decoration: none;
}

.copyright a.trp {
	color: #A0ABC1;
	font-weight: 300;
	font-size:12px;
	text-decoration: none;
}

.panel-heading {
 background-color: #F5F9FD;
 padding: 10px 22px;
 color:#8A95A7;
	height:55px;
}

.panel-heading > .title {
font-weight: bold; font-size: 13px; color:#8A95A7; line-height:33px;
}

.panel-heading > .icons {
border:1px solid #C1D1E5; padding:6px 9px 3px;
	border-radius:5px;
}

.radio label, .checkbox label {
    cursor: pointer;
    display: inline;
    font-weight: 300;
    margin-bottom: 0;
	color:#8A95A7;
}

.service_img{
	padding-left:8px;
}

.service_title h4{
	color: #6B6D74;
    font-weight: 400;
    margin-bottom: 3px;
    margin-top: 17px;
}

.service_title_2 h4{
	color: #6B6D74;
    font-weight: 400;
    margin-bottom: 3px;
    margin-top: 25px;
}

.service_title small{
	margin-top:0px;
	color: #6B6D74;
    font-weight: 300;
}

.viewdetailsbutton{
	margin-top:30px;
	
}

.price h4{
	color: #6B6D74;
    font-weight: 400;
    margin-bottom: 3px;
    margin-top: 15px;
}

.price_2{
	padding-right:10px;
}

.total-price{
	padding-right:10px;
}

.total-price h5{
	color: #8A95A7;
    font-weight: 300;
    margin: 0px;
}

.price_2 h5{
	color: #6B6D74;
    font-weight: 300;
    margin-bottom: 3px;
    margin-top: 25px;
}
.price small{
	margin-top:0px;
	color: #6B6D74;
    font-weight: 300;
}

.service_button{
	margin-top:15px;
	text-align: right;
	padding-right:8px;
}

.bank-routing h5{
	margin:0px;
}

.icons-ul em{
	color:#8A95A7;
}

.icons-ul > li {
    padding-bottom: 8px;
	color:#54565F;
}

.nopadding{
	padding:0px;
}

.table tfoot > tr > td{
	background-color: #50bf91;
	color: #fff;
}

.table tfoot > tr > td > span{
 font-size: 10pt;
 font-weight: 300;
}



.nav-tabs > li > a > .badge {
    /*border: 2px solid #ffffff;*/
    font-weight: 300;
    line-height: 17px;
    padding: 0 5px;
    position: absolute;
    /*right: -18px;*/
	left:122px;
    top: 1px;
}



/* //////// faruk /////////// */

.dash-widget{
    max-width: 32%;
    margin-top: 20px;
}

.dash-head h1{
    line-height: 76px;
    margin-top: 0;
    margin-left: 36px;
    color: #54565e;
    font-weight: 400;
}

.dash-img{
    float: left;
    padding: 22px;
    padding-right: 13px;
   
}

.dash-art{
    padding: 18px;
    line-height: 0px;
    margin-bottom: 20px;
    padding-top: 14px;
}

.iner-panel{
    font-size: 18px;
    height: 160px;
}

.navbar.navbar-inverse .divider-vertical{
    border-right-color: rgba(199, 199, 199, 0.51);
    border-left-color: rgb(235, 241, 245);
}

.round-img{
    height: 40px;
    width: 40px;
    border-radius: 50%;
}


